<mat-toolbar color="primary">
 
  <mat-toolbar-row>
    <!-- <span>חפש O.T </span> -->
    
    <span class="example-spacer"></span>   
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button  routerLink="/searchItem" routerLinkActive="active">חפש חפץ</button>
    <button mat-button  routerLink="/addStatus" routerLinkActive="active"> הוסף סטטוס</button>
    <button mat-button  routerLink="/login" routerLinkActive="active">החלף משתמש</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <img style="width:  71px; position: absolute;
    left: auto;"  src="../assets/Search.gif" >

  </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item  routerLink="/searchItem" routerLinkActive="active"> חפש חפץ</button>
  <button mat-menu-item  routerLink="/addStatus" routerLinkActive="active"> הוסף סטטוס</button>
  <button mat-menu-item  routerLink="/login" routerLinkActive="active">החלף משתמש</button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<main>
<router-outlet></router-outlet>
</main>


